<div class="main">
  <img src="../../assets/images/login.png" alt="login image" />
  <div class="example-button-row">
    <a
      id="click"
      mat-raised-button
      href="https://accounts.google.com/o/oauth2/v2/auth?scope=openid%20email&access_type=online&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=https://holiday-request.herokuapp.com/requester&response_type=code&client_id=859455735473-bgmqqco3q588kgaog0g2k0fmnur5qvf9.apps.googleusercontent.com&hd=turntabl.io&prompt=consent"
      color="primary"
      >Login Here
    </a>
    <!-- href="http://localhost:4200/requester" -->
  </div>
</div>
