.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

img {
  margin-left: 40%;
  margin-top: 80px;
  height: 130px;
  width: 13%;
}
#click {
  margin-left: 43%;
  margin-top: 55px;
}

.main {
  width: 100%;
  height: 700px;
  background-color: azure;
  background-repeat: no-repeat;
  background-size: cover;
}
