<!-- Navbar -->
<!-- <div class="side">
  <nav class="navbar fixed-top navbar-dark bg-primary side mb-4">
    <div class="container-fluid">
      <img
        src="../../assets/logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="logo"
      />
      <h5>Turntabl</h5>
    </div>
  </nav>
</div> -->
<div class="row heading">
  <h2>Book A Time Off</h2>
</div>
<div class="container-fluid">
  <form action="" [formGroup]="time_range" (ngSubmit)="onSubmit()">
    <div class="row formshift">
      <mat-form-field [formGroup]="regForm">
        <mat-label>Start date</mat-label>
        <input
          (dateChange)="addEvent('start', $event)"
          matInput
          [formControlName]="request_start_date"
          [matDatepickerFilter]="startFilter"
          [min]="startMinDate"
          [max]="startMaxDate"
          [matDatepicker]="startpicker"2244
          
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startpicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startpicker startView="year"></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- placeholder="startMinDate"
    [matDatepickerFilter]="startFilter"
    [startAt]="startDate"
    [matDatepickerFilter]="reportFilter"
  [startAt]="startDate" -->
    <div class="row formshift">
      <mat-form-field [formGroup]="regForm">
        <mat-label>Report date</mat-label>
        <input
          (dateChange)="addEvent('report', $event)"
          matInput
          [formControlName]="request_report_date"
          [matDatepickerFilter]="reportFilter"
          [min]="reportMinDate"
          [max]="reportMaxDate"
          [matDatepicker]="reportpicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="reportpicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #reportpicker startView="year"></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- <button
      type="submit"
      id="submit"
      class="form-control mb-4 btn"
      (ngModelChange)="onSubmitChecked($event)"
      value="triggered"
    >
      Submit
    </button> -->
    <button mat-raised-button color="primary" type="submit" >Submit</button>
  </form>
</div>
