.side {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 7%;
}

h5 {
  color: rgb(247, 246, 242);
}
.row > h2 {
  margin-left: 53%;
  font-weight: bolder;
}
.heading {
  margin-top: 5%;
  margin-right: 23%;
}
input {
  width: 85%;
}
mat-form-field {
  width: 30%;
}
.formshift {
  margin-top: 2%;
  margin-left: 41%;
}
button {
  margin-left: 46.8%;
  margin-top: 3%;
}
.mes {
  margin-top: 4%;
  z-index: 999;
}
ul {
  text-align: center;
}
