<!-- Navbar -->
<div class="row">
  <div class="col-6 but">
    <div class="bg-white p-4 rounded shadow-sm h-100 col">
      <a href="../form">
        <button class="btn btn-primary btn-circle btn-circle-xl m-1">
          <i class="far fa-calendar-alt"></i>
        </button>
        Make Request
      </a>
    </div>
  </div>

  <div class="col-4 smallbut">
    <div class="bg-white p-2 rounded shadow-sm h-100">
      {{ userName }}
      <button class="btn btn-success btn-circle m-1">
        <!-- 18 -->
      </button>
    </div>
  </div>
</div>
<div class="row">
  <h2>LOGS</h2>
</div>
<div class="tabl">
  <mat-form-field class="filterbox">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. day" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Start Date Column -->
    <ng-container matColumnDef="request_start_date">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.request_start_date }}
      </td>
    </ng-container>

    <!-- Reporting Date Column -->
    <ng-container matColumnDef="request_report_date">
      <th mat-header-cell *matHeaderCellDef>Report Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.request_report_date }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="req_status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <button
          [ngClass]="['btnStatus', 'btn', btnColor(element.req_status)]"
          type="button"
        >
          {{ element.req_status }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="col-md-6 ml-5 my-auto">
  <button class="btn btn-warning" (click)="onGetRequests()">
    Get Requests
  </button>
  <div class="row">
    <div class="col-5 my-auto mx-auto">
      <ul class="list-group text-center">
        <li class="list-group-item" *ngFor="let res of response">
          {{ res }}
        </li>
      </ul>
    </div>
  </div>
  <button (click)="onGetRequests()">
    Get Requests..
  </button>
</div>
